@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-primary text-primary
}

.app-style {
  @apply bg-primary px-4 max-w-[1140px] w-full mx-auto
}

.dark {
  --color-bg-primary: #1c1e21;
  --color-bg-secondary: #1c1e21;
  --color-text-primary: #dbdbdb;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #475dc2;
  --color-bg-input: #4a5361;
  --color-bg-button: #475dc2;
  --color-shadow-primary: inset 0 -3px 0 0 rgb(16, 16, 16);
  --color-border-primary: #ffffff;
  --color-text-hoverblue: #317dfff2;
  --color-border-secondary: #454646;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #ffffff;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
  --color-bg-input: #edf2f7;
  --color-bg-button: #475dc2;
  --color-shadow-primary: inset 0 -3px 0 0 rgb(205, 205, 206);
  --color-border-primary: #000000;
  --color-text-hoverblue: #317dfff2;
  --color-border-secondary: #cfcdd2;
}